<!--
  Generated template for the MyjoinpoolPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>myjoinpool</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let item of pooldata">
      <ion-card-content>
        <ion-item-sliding>
          <button ion-item>
            name: {{item.name}} <br>
            Id : {{item.poolId}}
            <h2> PickUp Point: {{item.pickupPoint}}</h2>
            Status: <span *ngIf="item.accepted"> Accepted</span><span *ngIf="!item.accepted"> Not Accepted contact to owner</span>
          </button>

          <ion-item-options>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card-content>
    </ion-card>
    <p *ngIf="pooldata.length == 0">
      No Data available
    </p>
  </ion-list>
</ion-content>
